<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-3">
    <section class="user_info">
    <div class="well">
      <div class="text-center">
        <%= link_to gravatar_for(@user, size: 50), @user %>
        <h3><%= @user.name %></h3>
        <%= render 'follow_form' if logged_in? %>
        <ul class="list-group text-left">
          <li class="list-group-item">
            <span class="text-left">Posts</span>
            <span class='badge'><%= @user.posts.count %></span>
          </li>
          <%= render 'shared/stats' %>
        </ul>
      </div>
    </div>
    </section>
  </div>

  <div class="col-md-6">
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ul class="posts list-group">
        <%= render @posts %>
      </ul>
      <%= will_paginate @posts %>
  </div>
</div>

