<% provide(:title, 'post') %>

<div class="post">
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/pointed_user' %>
      </section>
    </aside>
    <div class="col-md-6">
      <div class="post-content">
        <h2><%= @post.content %></h2>
      </div>
      <p>Comments (<%= @post.comments.count %>)</p>
      <%= render 'shared/comment_form' %>
      <ul class="posts list-group">
        <%= render @post.comments %>
      </ul>
    </div>
  </div>
</div>


